  /*  Main Layout */
  /* #main_block {} */
  #left_block {padding: 0; float: left; display: flex; flex-wrap: wrap; align-items: center; height: 100vmin; width: calc(100vmax - 100vmin);}
  #right_block {float: right; height: 100vmin; width: 100vmin; display: flex; flex-wrap: wrap; align-items: center;}
  #board {height: 90vmin; width: 90vmin; margin: 0 auto; background: #F1E1D3}
  
  /*  Header + Left Column */
  .logo img {width: 229px; height: auto;}
  header {margin: 0 auto}
  header ul {margin:0; padding: 50px 0 0 0; list-style: none; float: left; clear: left;}
  header li a {margin:0; padding: 8px 0 7px 40px; background-repeat: no-repeat; background-position: 1px center; background-size: 24px 24px; text-decoration: none; float: left; clear: left; color: #5A6D7B}
  header li a:hover {opacity: .75}
  header li a.link {background-image: url(/assets/images/ic_link.png)}
  header li a.pause {background-image: url(/assets/images/ic_pause.png)}
  header li a.full {background-image: url(/assets/images/ic_fullscreen.png)}
  header li a.sounds {background-image: url(/assets/images/ic_volume.png)}
  header li a.settings {background-image: url(/assets/images/ic_settings.png)}
  header li a.info {background-image: url(/assets/images/ic_info.png)}
  
  header li a.hoster {background-image: url(/assets/images/white.png); color: #BF9883; background-size: 22px 22px}
  header li a.guest {background-image: url(/assets/images/black.png); background-size: 22px 22px}
  
  
  /*  Board Styles */
  #board {background-repeat: no-repeat; background-size: cover}
  #board.style_modern {background-image: url(/assets/images/style_modern.jpg);}
  .checker {background-repeat: no-repeat; background-size: cover; background-position: center; width: 6vmin; height: 6vmin; cursor: pointer}
  .checker:hover {-webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.35)); /* Safari */ filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.35));}
  .checker.black {background-image: url(/assets/images/black.png)}
  .checker.white {background-image: url(/assets/images/white.png)}