
<div *ngIf="!game;else game_content">
  <span>This game doesn't exist</span>
</div>

<ng-template #game_content>
  <div *ngIf="game && !game.id">
    <h2>Loading...</h2>
  </div>

  <div *ngIf="game.id && !game.blackPlayerId && game.whitePlayerId === currentPlayer.id">
    <h2>Share link with your friend.</h2>
    <h2>Waiting him to connect...</h2>
  </div>

  <div *ngIf="game.id && !game.blackPlayerId && game.whitePlayerId != currentPlayer.id">
    <button (click)="join();">Join game {{game.id}}</button>
  </div>

  <div *ngIf="game.id && game.whitePlayerId && game.blackPlayerId">
    <span>The game with {{oppositePlayer.id}} started!</span>

    <ul *ngIf="game && game.points">
      <li *ngFor="let point of game.points">
        <span>{{point.index}}:{{point.checkersCount}}:{{point.playerColor}}</span>
      </li>
    </ul>
  </div>
</ng-template>
