<div id="main_block">
  <div id="left_block">
    <header>
      <div class="logo"><a href=""><img src="/assets/images/chingizgames@3x.png" alt="Chingizgames.com" /></a></div>

      <ul class="players">
        <li><a href="#" class="hoster" onclick="return false">You</a></li>
        <li><a href="#" class="guest" onclick="return false">Invite Opponent</a></li>
      </ul>

      <ul class="menu">
        <li><a href="#" class="link" onclick="return false">Copy link to this game</a></li>
        <li><a href="#" class="pause" onclick="return false">Request a break</a></li>
        <li><a href="#" class="full" onclick="return false">Full screen</a></li>
        <li><a href="#" class="sounds" onclick="return false">No sounds</a></li>
        <li><a href="#" class="settings" onclick="return false">Game settings</a></li>
        <li><a href="#" class="info" onclick="return false">Info</a></li>
      </ul>
    </header>	
  </div>
  <app-board></app-board>
</div>
